<footer class="footer">
    <div class="footer__content">
        <span class="footer__span">Monarchy LLC</span> <span class="footer__divider">|</span> <span class="footer__span">Copyright <%= new Date().getFullYear() %> <span class="footer__divider">|</span> <span>All Rights Reserved.</span>
    </div>
    <span>
</footer>
<% if(videoUrl) { %><%- include('../components/video-player', { videoUrl }); %><% } %>
<script src="js/index.bundle.js" type="application/javascript"></script>
</body>
</html>