<footer class="footer">
    <div class="footer__content">
        <div class="footer__left-container">
            <span class="footer__span">Monarchy LLC</span> <span class="footer__divider">|</span> <span class="footer__span">Copyright <%= new Date().getFullYear() %> <span class="footer__divider">|</span> <span>All Rights Reserved.</span>
        </div>
        <div class="footer__social-container">
            <span>Follow Us!</span>
            <a href="https://www.linkedin.com/company/monarchy-io/">
                <img class="footer__social-icon" src="/assets/navigation-icons/linkedin.svg" alt="Linkedin Link"/>
            </a>
            <a href="https://www.facebook.com/monarchy.io/">
                <img class="footer__social-icon" src="/assets/navigation-icons/footer-social-icons/fb.svg" />
            </a>
            <a href="https://www.instagram.com/monarchy.io/">
                <img class="footer__social-icon" src="/assets/navigation-icons/instagram.svg" />
            </a>
            <a href="#">
                <img class="footer__social-icon" src="/assets/navigation-icons/footer-social-icons/twitter.svg" />
            </a>
            <a href="#">
                <img class="footer__social-icon" src="/assets/navigation-icons/footer-social-icons/yt.svg" />
            </a>
        </div>
    </div>
</footer>
<% if(videoUrl) { %><%- include('../components/video-player', { videoUrl }); %><% } %>
<script src="js/index.bundle.js" type="application/javascript"></script>
</body>
</html>