<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monarchy | The Marketing Engine</title>
    <link rel="stylesheet" href="css/app.min.css">
    <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg">
</head>
<body>
<nav class="overlay hidden">
    <img class="overlay__close" src="/assets/navigation-icons/close.svg" alt="close the menu button">
    <div class="overlay__link-container">
        <a class="overlay__item" href="/about">Who We Are</a>
        <a class="overlay__item" href="/service">What We Do</a>
        <a class="overlay__item" href="/clients">Our Clients</a>
        <a class="overlay__item" href="/contacts">Contact Us</a>
    </div>
    <div class="overlay__footer">
        <%- include('footer'); %>
    </div>
    <div class="overlay__icons-container">
        <a href="https://www.linkedin.com/company/monarchy-io/">
            <img class="overlay__social-icon" src="/assets/navigation-icons/linkedin.svg" alt="Linkedin Link"/>
        </a>
        <a href="https://www.instagram.com/monarchy.io/">
            <img class="overlay__social-icon" src="/assets/navigation-icons/instagram.svg" alt="Instagram Link"/>
        </a>
        <a href="https://www.facebook.com/monarchy.io/">
            <img class="overlay__social-icon" src="/assets/navigation-icons/facebook.svg" alt="Facebook Link"/>
        </a>
    </div>
</nav>
<header class="navigation">
    <div class="navigation__top">
        <a href="/" class="navigation__brand">
            <img class="navigation__icon" src="assets/monarchy-word-logo.svg" />
        </a>
        <div class="navigation__button">
            <img class="navigation__icon navigation__icon--butterfly" src="assets/monarchy-butterfly.svg" />
            <span class="navigation__button-text">MENU</span>
        </div>
    </div>
    <% if(title && subtitle) { %>
        <div class="navigation__titles-container">
            <h1 class="navigation__title"><%= title %></h1>
            <h2 class="navigation__subtitle"><%= subtitle %></h2>
        </div>
    <% } %>
</header>
