.card-grid {
  width: 32rem;
  text-align: center;

  &__image-container {
    width: 20rem;
    height: 20rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image {
    width: 18rem;
    height: auto;
    margin-bottom: 2rem;
    object-fit: cover;
    object-position: center;
  }
}
