.newsletter-form {
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3rem 4rem;

  &__title {
    color: $color-tertiary;
    text-transform: uppercase;
  }

  &__text {
    margin-bottom: 1rem;
  }

  &__input {
    padding: 1rem 2rem;
    border: none;
    outline: none;
    border-radius: 3px;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__button {
    @include btn-secondary-styles;

    &:hover {
      background-color: darken($color-secondary, 10%);
      cursor: pointer;
    }
  }

  .form__checkbox-container {
    text-align: left;

    &--promotion {
      margin-bottom: 0;
    }
  }

  .form__privacy-label--text {
    transform: translateY(-1rem);
  }
}
