.press {
  width: $container-width;
  margin: 0 auto;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18rem;
  }

  &__logo {
    margin-right: 4rem;
    height: 3.3rem;
  }

  &__text {
    font-family: $font-secondary;

    &--1 {
      margin-right: 4rem;
    }
  }
}
