.white {
  color: $white !important;
}

.hidden {
  opacity: 0;
  transform: translateY(-100vw);
}

.secondary-header {
  color: $color-secondary;
  text-transform: uppercase;
  font-size: $about-title;
  text-align: center;

  @include respond(phone-port) {
    font-size: $phone-about-title;
    line-height: 1.5;
  }
  @include respond(iphone-5) {
    font-size: 2.8rem;
    line-height: 1.5;
  }
}

.text-left {
  text-align: start;
}

.text-right {
  text-align: end;
}

.lazy-img {
  filter: blur(10px);
}

.green {
  color: green;
}

.red {
  color: red;
}
