<div class="customer-card">
    <img class="customer-card__image" src="<%= image %>"/>
    <div class="customer-card__text">
        <h3 class="customer-card__name"><%= name %></h3>
        <span class="customer-card__subtitle"><%= subtitle %>
    </div>
</div>