<div class="team-card">
    <img src="<%= image %>" class="team-card__image" />
    <div class="team-card__bottom">
        <h3 class="team-card__name"><%= name %></h3>
        <span class="team-card__post"><%= position %></span>
    </div>
</div>