<div class="video-player hidden">
    <img class="video-player__close" src="/assets/navigation-icons/close.svg" alt="close the video">
    <div class="video-player__iframe-container">
        <iframe class="video-player__iframe" src="<%= videoUrl %>" frameborder="0" allow="autoplay; fullscreen"></iframe>
    </div>
</div>