<div class="video-player hidden">
    <img class="video-player__close" src="/assets/navigation-icons/close.svg" alt="close the video">
    <iframe src="<%= videoUrl %>" width="960" height="540" frameborder="0" allow="autoplay; fullscreen"></iframe>
</div>