<%- include('partials/header'); %>
<section class="contacts">
    <h2 class="contacts__title secondary-header">CONNECT</h2>
    <p class="contacts__paragraph">Get in touch with us and let's discuss together your needs!</p>
    <div class="contacts__form-container">
        <form method="POST" action="/contacts" class="form">
            <div class="form__top-container">
                <div class="form__input-container">
                    <label class="form__label" for="company">Company</label>
                    <input name="company" placeholder="Company*" type="text" id="company" class="form__text-input" />
                </div>
                <div class="form__input-container">
                    <label class="form__label" for="email">Email</label>
                    <input name="email" placeholder="Email*" type="email" id="email" class="form__text-input" />
                </div>
                <div class="form__input-container">
                    <label class="form__label" for="first_name">First Name</label>
                    <input name="first_name" placeholder="First Name*" type="text" id="first_name" class="form__text-input" />
                </div>
                <div class="form__input-container">
                    <label class="form__label" for="last_name">Last Name</label>
                    <input name="last_name" placeholder="Last Name*" type="text" id="last_name" class="form__text-input" />
                </div>
            </div>
            <div class="form__checkbox-top-container">
                <h3 class="form__subtitle">I’M REACHING OUT ON BEHALF OF A COMPANY (CHECK ALL THAT APPLY)</h3>
                <div class="form__checkbox-container">
                    <input class="form__checkbox" type="checkbox" name="new_agency" id="new_agency" />
                    <label class="form__checkbox-label" for="new_agency"><span class="form__checkbox--span"></span><span class="form__checkbox--span--fill"></span>I’m exploring new agency partners</label>
                </div>
                <div class="form__checkbox-container">
                    <input class="form__checkbox" type="checkbox" name="media_agency" id="media_agency" />
                    <label class="form__checkbox-label" for="media_agency"><span class="form__checkbox--span"></span><span class="form__checkbox--span--fill"></span>I’m looking for a partner for creative, media, production, or integrated services</label>
                </div>
                <div class="form__checkbox-container">
                    <input class="form__checkbox" type="checkbox" name="production_services" id="production_services" />
                    <label class="form__checkbox-label" for="production_services"><span class="form__checkbox--span"></span><span class="form__checkbox--span--fill"></span>I’m looking for production services</label>
                </div>
                <div class="form__checkbox-container">
                    <input class="form__checkbox" type="checkbox" name="consulting" id="consulting" />
                    <label class="form__checkbox-label" for="consulting"><span class="form__checkbox--span"></span><span class="form__checkbox--span--fill"></span>I’m looking for consultative services</label>
                </div>
                <div class="form__checkbox-container">
                    <input class="form__checkbox" type="checkbox" name="e_commerce" id="e_commerce" />
                    <label class="form__checkbox-label" for="e_commerce"><span class="form__checkbox--span"></span><span class="form__checkbox--span--fill"></span>I’m looking for eCommerce support</label>
                </div>
            </div>
            <div class="form__checkbox-top-container">
                <h3 class="form__subtitle">I’M AN INDIVIDUAL (CHECK ALL THAT APPLY)</h3>
                <div class="form__checkbox-container">
                    <input class="form__checkbox" type="checkbox" name="job_applier" id="job_applier" />
                    <label class="form__checkbox-label" for="job_applier"><span class="form__checkbox--span"></span><span class="form__checkbox--span--fill"></span>I want to apply for a job</label>
                </div>
                <div class="form__checkbox-container">
                    <input class="form__checkbox" type="checkbox" name="press_member" id="press_member" />
                    <label class="form__checkbox-label" for="press_member"><span class="form__checkbox--span"></span><span class="form__checkbox--span--fill"></span>I’m a member of the press looking to connect with your Communications team</label>
                </div>
                <div class="form__checkbox-container">
                    <input class="form__checkbox" type="checkbox" name="personal_branding" id="personal_branding" />
                    <label class="form__checkbox-label" for="personal_branding"><span class="form__checkbox--span"></span><span class="form__checkbox--span--fill"></span>I’m looking for personal branding</label>
                </div>
                <div class="form__checkbox-container">
                    <input class="form__checkbox" type="checkbox" name="influencer" id="influencer" />
                    <label class="form__checkbox-label" for="influencer"><span class="form__checkbox--span"></span><span class="form__checkbox--span--fill"></span>I’m an influencer</label>
                </div>
                <div class="form__checkbox-container">
                    <input class="form__checkbox" type="checkbox" name="follower" id="follower" />
                    <label class="form__checkbox-label" for="follower"><span class="form__checkbox--span"></span><span class="form__checkbox--span--fill"></span>I follow Monarchy on social media</label>
                </div>
            </div>
            <div class="form__bottom-container">
                <div class="form__bottom-container--input">
                    <div class="form__input-container">
                        <label class="form__label" for="company_size">Approximate size of your business</label>
                        <input name="company_size" placeholder="Approximate size of your business" type="text" id="company_size" class="form__text-input" />
                    </div>
                    <div class="form__input-container">
                        <label class="form__label" for="marketing_spent">How much you spend on marketing yearly</label>
                        <input name="marketing_spent" placeholder="How much you spend on marketing yearly" type="text" id="marketing_spent" class="form__text-input" />
                    </div>
                </div>
                <div class="form__input-container">
                    <label class="form__label" for="message">How can we help you?</label>
                    <textarea name="message" id="message" cols="30" rows="10" class="form__textarea" placeholder="How can we help you?"></textarea>
                </div>
                <div class="form__checkbox-container form__checkbox-container--privacy">
                    <input class="form__checkbox" type="checkbox" name="privacy_consent" id="privacy_consent" required />
                    <div class="">
                        <label class="form__checkbox-label form__checkbox-label--privacy" for="privacy_consent"><span class="form__checkbox--span"></span><span class="form__checkbox--span--fill"></span>Yes, i'd also like to receive information about additional products or services that may be of interest to me. Information submitted through this form is subject to our privacy policy.</label>
                    </div>
                </div>
            </div>
            <button class="main-button form__submit">Submit</button>
        </form>
    </div>
</section>
<%- include('partials/footer'); %>