<%- include('partials/header'); %>
<section class="contacts">
    <div class="contacts__form-container">
        <form method="POST" action="/contacts" class="form">
            <div class="form__top-container">
                <div class="form__input-container">
                    <input name="company" placeholder="Company*" type="text" id="company" class="form__text-input" />
                    <label class="form__label" for="company">Company</label>                    
                </div>
                <div class="form__input-container">
                    <input name="email" placeholder="Email*" type="email" id="email" class="form__text-input" />
                    <label class="form__label" for="email">Email</label>
                </div>
                <div class="form__input-container">
                    <input name="first_name" placeholder="First Name*" type="text" id="first_name" class="form__text-input" />
                    <label class="form__label" for="first_name">First Name</label>
                </div>
                <div class="form__input-container">
                    <input name="last_name" placeholder="Last Name*" type="text" id="last_name" class="form__text-input" />
                    <label class="form__label" for="last_name">Last Name</label>
                </div>
            </div>
            <div class="form__checkbox-top-container">
                <h3 class="form__subtitle">I’M REACHING OUT ON BEHALF OF A COMPANY (CHECK ALL THAT APPLY)</h3>
                <div class="form__checkbox-container">
                    <input class="form__checkbox" type="checkbox" name="company" id="company" />
                    <label class="form__checkbox-label" for="company"><span class="form__checkbox--span"><span class="form__checkbox--span--fill"></span></span>I’m a company!</label>
                </div>
                <div class="form__checkbox-container">
                    <input class="form__checkbox" type="checkbox" name="needs_marketing" id="needs_marketing" />
                    <label class="form__checkbox-label" for="needs_marketing"><span class="form__checkbox--span"><span class="form__checkbox--span--fill"></span></span>Need more results from my marketing.</label>
                </div>
                <div class="form__checkbox-container">
                    <input class="form__checkbox" type="checkbox" name="needs_sales" id="needs_sales" />
                    <label class="form__checkbox-label" for="needs_sales"><span class="form__checkbox--span"><span class="form__checkbox--span--fill"></span></span>Need Sales.</label>
                </div>
                <div class="form__checkbox-container">
                    <input class="form__checkbox" type="checkbox" name="consulting" id="consulting" />
                    <label class="form__checkbox-label" for="consulting"><span class="form__checkbox--span"><span class="form__checkbox--span--fill"></span></span>Need guidance, better understanding our market.</label>
                </div>
                <div class="form__checkbox-container">
                    <input class="form__checkbox" type="checkbox" name="branding" id="branding" />
                    <label class="form__checkbox-label" for="branding"><span class="form__checkbox--span"><span class="form__checkbox--span--fill"></span></span>Need to grow my branding across the channels.</label>
                </div>
            </div>
            <div class="form__checkbox-top-container">
                <h3 class="form__subtitle">I AM A PERSON</h3>
                <div class="form__checkbox-container">
                    <input class="form__checkbox" type="checkbox" name="job_applier" id="job_applier" />
                    <label class="form__checkbox-label" for="job_applier"><span class="form__checkbox--span"><span class="form__checkbox--span--fill"></span></span>I want to become part of the team.</label>
                </div>
                <div class="form__checkbox-container">
                    <input class="form__checkbox" type="checkbox" name="influencer" id="influencer" />
                    <label class="form__checkbox-label" for="influencer"><span class="form__checkbox--span"><span class="form__checkbox--span--fill"></span></span>I’m an influencer</label>
                </div>
                <div class="form__checkbox-container">
                    <input class="form__checkbox" type="checkbox" name="press_member" id="press_member" />
                    <label class="form__checkbox-label" for="press_member"><span class="form__checkbox--span"><span class="form__checkbox--span--fill"></span></span>I am part of the media and want to talk to you.</label>
                </div>
            </div>
            <div class="form__bottom-container">
                <div class="form__bottom-container--input">
                    <div class="form__input-container">
                        <input name="company_size" placeholder="How many staff do you have?" type="text" id="company_size" class="form__text-input" />
                        <label class="form__label" for="company_size">How many staff do you have?</label>
                    </div>
                    <div class="form__input-container">
                        <input name="marketing_spent" placeholder="Yearly marketing budget" type="text" id="marketing_spent" class="form__text-input" />
                        <label class="form__label" for="marketing_spent">Yearly marketing budget</label>
                    </div>
                </div>
                <div class="form__input-container">
                    <textarea name="Leave us your message! :)" id="Leave us your message! :)" cols="30" rows="10" class="form__textarea" placeholder="How can we help you?"></textarea>
                    <label class="form__label" for="Leave us your message! :)">How can we help you?</label>
                </div>
                <div class="form__checkbox-container form__checkbox-container--privacy">
                    <input class="form__checkbox" type="checkbox" name="privacy_consent" id="privacy_consent" />
                    <div class="">
                        <label class="form__checkbox-label form__checkbox-label--privacy" for="privacy_consent"><span class="form__checkbox--span"><span class="form__checkbox--span--fill"></span></span><span class="form__privacy-label--text">I agree to the privacy policies and i'd also like to receive information about additional products or services that may be of interest to me.</span></label>
                    </div>
                </div>
            </div>
            <button class="main-button form__submit">Submit</button>
        </form>
    </div>
</section>
<%- include('partials/footer'); %>