<% console.log(title); %> <%- include("./partials/header", { title, subtitle,
description, keywords, author, tabTitle, isBlogShowPage: true, post: {} }); -%>
<section class="blog-home manifesto">
  <div class="blog-home__post-container">
    <div class="post-scheda">
      <img
        src="/assets/manifesto/skyscrapers.png"
        alt="Girl between skyscrapers with a Monarchy logo overlay"
        class="post-scheda__image manifesto__image"
      />
      <div class="manifesto__content">
        <h3 class="manifesto__subtitle">Our mission</h3>
        <p>
          We are spearheading a renaissance.<br />
          We are building companies that build society.<br />
          We are uplifting people.<br />
          We are facilitating innovation.<br />
          WE are Monarchy.
        </p>
        <h3 class="manifesto__subtitle">What we are trying to do</h3>
        <p>
          We want to thrive and create beauty in all aspects of our own lives
          and those we touch through our personal and business dealings.
        </p>
        <p>
          We want to build a catalyst to improve society by facilitating
          potential innovation. We are here to create a true renaissance and we
          believe that the ones dreaming the new realities of the world are
          artists, that all entrepreneurs are artists and that business is an
          artistic creation.
        </p>
        <h3 class="manifesto__subtitle">Who we are and what we do</h3>
        <p>
          We are a HIT factory managed by “NAVY SEALs” - meaning we work to
          condense 10 years into 12 months, helping small companies reach 7
          figures in 12 months or less. Because of this condensed time frame, we
          HAVE to outwork everyone...and we DO!
        </p>
        <p>
          We like to build businesses and the ultimate PRODUCT of our TEAM is to
          build ASSETS that keep producing! We’re big fans of win-win
          situations.
        </p>
        <img
          src="/assets/manifesto/shadow.png"
          alt="Team uniting hands with a Monarchy logo shadow"
          class="post-scheda__image manifesto__image"
        />
        <h3 class="manifesto__subtitle">Our approach</h3>
        <p>
          We scale businesses with an acquisition model - meaning we partner
          WITH the businesses. Monarchy is the ENGINE and we make money when
          they make money.
        </p>
        <p>
          Our niche is bridging the digital gap, helping small businesses
          achieve velocity, reach and pass 7 figures FAST! For those that have
          already broken a million, we help them break 5 million - usually in
          less than 24 months!
        </p>
        <p>
          Our structure is simple. We’re a high-end, exclusive, growth team. We
          work with businesses that want to ACCELERATE their GROWTH to solve
          their fit-to-market analysis, marketing structure, and sales process.
          We implement a sales team, sales training, and in turn, scale the
          business. We focus on businesses with durable advantages and unique
          entrepreneurs to accelerate and participate towards their success.
        </p>
        <h3 class="manifesto__subtitle">What drives us</h3>
        <p>
          We love seeing the companies we collaborate with - high-quality
          companies with helpful and ethical products and services - grow and
          become better than they were before. Mentoring them and pushing them
          to their full potential is what makes us tick.
        </p>
        <h3 class="manifesto__subtitle">How we define success</h3>
        <p>
          One way is quantifiable - numbers, revenue, valuation, etc. - and the
          other is based on quality - how much help and value is being provided
          by us at Monarchy and by the companies, we partner with.
        </p>
        <p>
          It’s not all about money and money is not the highest value. Success
          is based on what aligns with one’s own integrity and we’re BIG on
          integrity! We highly respect people who stand firmly in their beliefs
          and who believe what they believe even if it’s not safe or popular to
          do so!
        </p>
        <img
          src="/assets/manifesto/grandma.png"
          alt="Fancy old woman with sunglasses over an orange background"
          class="post-scheda__image manifesto__image"
        />
        <h3 class="manifesto__subtitle">“The Grandma Rule”</h3>
        <p>
          In our company we value values. In deciding which companies we want to
          take on and work with we have a “Golden Rule” that we call the
          “Grandma Rule”... “Would you sell it to your grandma?” If not, we
          don’t want any part of it.
        </p>
        <p>
          We choose companies based on whether or not we feel the products and
          services are aligned to creating a renaissance and whether or not they
          are benefiting people or harming them according to OUR values and
          beliefs.
        </p>
        <h3 class="manifesto__subtitle">Who we are</h3>
        <p>
          To us, one’s attitude and how you treat people, including yourself, is
          important. We hold ourselves to a very high standard and set an
          example of care for others. All executives and CEOs that we work with
          are held to the same standards as ourselves and we don’t work with
          people who fall short of excellence in this regard.
        </p>
        <p>
          Inclusion is also big for us! We like to include those around us in
          our success and see them succeed as well. We value an energetic,
          positive approach to business and life as a whole and feel that happy,
          helpful people get better work done. We look for staff who are
          dedicated and work to make them partners. Our goal is that all of our
          staff end up being our partners! They give life to us and our
          business, we give life back. That makes us extremely proud.
        </p>
        <h3 class="manifesto__subtitle">What we respect</h3>
        <p>
          We respect people that make you feel bigger when you’re around them.
          People who feel the need to speak poorly or gossip about others are
          not our people and we don't play those games. We stand on the side of
          love, forgiveness, kindness and loyalty. We are strong and we are
          composed. We don’t pay negativity forward - only kindness and grace.
          We are agents of harmony and our friends are those who feel and ACT
          the same way.
        </p>
        <img
          src="/assets/manifesto/do_it.png"
          alt="Woman doing hand work in an artisan workshop"
          class="post-scheda__image manifesto__image"
        />
        <h3 class="manifesto__subtitle">What inspires us</h3>
        <p>
          We don’t believe in inspiration...We don’t do inspirational
          quotes....We don’t even want to inspire people. But hear us out! Most
          of the time “inspiration” is a bunch of “ra ra ray!”... and then
          nothing happens. We’re interested in what is truly valuable. Valuable
          things are actionable things. And we like action!
        </p>
        <p>
          If you’re an entrepreneur, you do what needs to get done - no
          motivation needed. We are not inspired to do what we do, we do it
          because we see the need and feel it’s the right thing to do, so we do
          it. It’s something we’re spiritually connected to and that’s what
          drives us forward day in and day out.
        </p>
        <h3 class="manifesto__subtitle">Our culture</h3>
        <p>
          Our culture is built around production, with all members of our team
          constantly doing their best to achieve a good product. We appreciate
          people who create and share the beauty in their work and in their
          lives. Skills can be developed, but you have to have the right purpose
          alignment with each and every staff member.
        </p>
        <p>
          We are the orchestra conductor ensuring each player is invested in the
          game and working in harmony. If a note is not aligned it will create
          dissonance sooner or later, so it's up to us to hire the right players
          and work together to create the perfect song.
        </p>
      </div>
    </div>
  </div>
  <%- include('./components/newsletter-subscription-form'); %>
</section>

<%- include('./partials/footer') %>
