.founder {
  display: flex;
  justify-content: center;
  width: $container-width;
  margin: 10rem auto;

  @include respond(tab-land) {
    width: $responsive-container;
  }
  @include respond(tab-port) {
    width: 100%;
  }
  @include respond(phone-port) {
    flex-direction: column;
    margin: 5rem auto;
  }

  &__text {
    width: 40%;
    margin-right: 5%;

    @include respond(phone-port) {
      width: $responsive-container;
      margin: 4rem auto;
    }
  }

  &__title {
    margin-bottom: 5rem;
    font-weight: 600;

    @include respond(laptop) {
      font-size: 3.8rem !important;
    }
    @include respond(tab-port) {
      width: 200%;
      display: inline-block;
    }
    @include respond(phone-port) {
      display: none;
    }

    &--phone {
      display: none;

      @include respond(phone-port) {
        display: inline-block;
      }
    }
  }

  &__paragraph {
    font-size: 1.8rem;

    @include respond(phone-port) {
      width: 90%;
      margin: 0 auto;
    }

    &:not(:last-child) {
      margin-bottom: 3rem;

      @include respond(phone-port) {
        margin-bottom: 2rem;
      }
    }
  }

  &__image {
    border-radius: 10px;
    width: 100%;
  }

  &__image-container {
    width: 35%;
    margin-top: 12rem;
    position: relative;

    @include respond(tab-land) {
      margin-top: 18rem;
    }
    @include respond(tab-port) {
      margin-top: 12rem;
    }
    @include respond(phone-port) {
      display: none;
    }

    &--responsive {
      display: none;

      @include respond(phone-port) {
        display: block;
        margin-bottom: 4rem;
      }
    }
  }

  &__image-caption {
    display: flex;
    flex-direction: column;
    color: $black;
    position: static;
    top: 18%;
    right: 3rem;
    font-size: 1.8rem;

    &--title {
      font-style: italic;
    }

    &--subtitle {
      text-transform: uppercase;
      font-size: 1.2rem;
    }
  }
}

.about-video {
  width: 67%;
  margin: 0 auto;

  @include respond(tab-land) {
    width: $responsive-container;
  }
  @include respond(phone-port) {
    width: 100%;
  }

  &__title {
    margin-bottom: 3rem;
    font-weight: 600;
  }

  &__paragraph {
    width: 65%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 5rem;
    font-size: 1.8rem;

    @include respond(phone-port) {
      width: 80%;
    }
  }

  &__thumb-container {
    position: relative;
    margin-bottom: 5rem;
  }

  &__thumbnail {
    width: 100%;
  }

  &__play-icon {
    width: 18rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease-in-out;

    @include respond(phone-port) {
      width: 25%;
    }

    &:hover {
      cursor: pointer;
      transform: translate(-50%, -50%) scale(1.1);
    }
  }
}

.leadership {
  &__cards-container {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-items: center;
    justify-content: center;
    gap: 4rem;
    margin-bottom: 4rem;

    @include respond(phone-port) {
      grid-template-columns: 100%;
    }

    @include respond(tab-land) {
      gap: 2rem;
    }

    &--bottom {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      @include respond(phone-port) {
        grid-template-columns: 100%;
      }
    }

    &--team {
      display: flex;
      flex-wrap: wrap;
      width: $container-width;
      margin: 0 auto 6rem auto;

      @include respond(laptop) {
        width: 100%;
      }
      @include respond(tab-land) {
        gap: 2rem;
      }
    }
  }

  &__title {
    margin: 4rem 0 3rem 0;

    @include respond(phone-port) {
      font-size: 3rem !important;
    }
  }

  &__paragraph {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 4rem;
    font-size: 1.8rem;

    @include respond(tab-port) {
      width: 60%;
    }
  }
}
