<%- include('../partials/header') %>
<section class="blog-home">
    <div class="blog-home__post-container">I'm the blog home!</div>
    <%- include('../components/newsletter-subscription-form'); %>
</section>

<%- include('../partials/footer') %>